#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    display: flex;
}
body{
    background-image: url(Imagens/pngtree-cute-hand-drawn-style-math-education-green-plaid-background-image_337570.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat
}
